*{
    font-family: 'Open Sans', sans-serif;
}

*::selection{
    background-color: #b2ebdf;
}

body{
    background-color: white;
    overflow-x:hidden;
}

.nav-img{
    height: 70px;
    background-color: white;
    padding: 0px 10px;
}

.main-news{
    width: 100%;
    height: 500px;

    display: grid;
    grid-template-columns: 1.30fr 1.70fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas: 
        "news1 news2"
        "news1 news3";
}

.news1{
    background-image: url(../img/home/icon1.png);
    background-size: cover;
    grid-area: news1;
}

.news2{
    background-image: url(../img/home/icon2.png);
    grid-area: news2;
}

.news3{
    background-image: url(../img/home/icon3.png);
    grid-area: news3;
}

.news{
    display: flex;
    align-items: flex-end;
}

.news-legend{
    background-color: rgba(0, 0, 0, 0.3);
    transition: 0.7s;
    color: white;
    width: 100%;
}

.hide{
    display: none;
}

.see{
    display: block;
}

.news-legend h3, .news-legend p{
    padding: 5px 20px;
}

.news-legend:hover{
    background-color: rgba(0, 0, 0, 0.6);
}

.footer{
    margin-bottom: 15px;
    background-color: #11B695;
    color: white;
    padding: 0px 15px;
}

.fot1 img{
    height: 60px;
    margin-right: 10px;
}

.fot1{
    text-align: left;
}

.fot2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.fot2 h4 a{
    text-decoration: none;
    color: white;
}

/* MODAL cadaslogin*/
#cadastroModal .modal-title, #loginModal .modal-title{
    color: #11B695;
    font-weight: bold;
}

/* QUEM SOMOS Page*/
.main-sobre h2{
    text-align: center;
    font-weight: bold;
    color: #11B695;
    text-shadow: rgba(0, 0, 0, 0.6);
    margin-top: 20px;
}

.jumbotron{
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: rgba(211, 211, 211, 0.329);
    padding: 20px;
    border-radius: 20px;
}

/* CONTATO */
.formulario{
    text-align: center;
    margin-top: 30px;
}

.formulario h2{
    text-align: center;
    font-weight: bold;
    color: #11B695;
    text-shadow: rgba(0, 0, 0, 0.6);
}

.formulario form{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr 2fr;
    grid-template-areas: 
    "ctt-nome ctt-mensagem"
    "ctt-email ctt-mensagem"
    "ctt-telefone ctt-mensagem";

    margin-bottom: 10px;
}

.ctt-nome{
    grid-area: ctt-nome;
}

.ctt-email{
    grid-area: ctt-email;
}

.ctt-telefone{
    grid-area: ctt-telefone;
}

.ctt-mensagem{
    grid-area: ctt-mensagem;
}